In [3]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError
import json
from dotenv import load_dotenv
import os

load_dotenv()

True

In [4]:
base_url ='https://api.fxratesapi.com'
database_url = os.getenv("DATABASE_URL")
engine = None

try:
    engine = create_engine(database_url)
    with engine.connect():
        print(f"CONNECTED TO {engine.url}")
except:
    print(f"CANNOT CONNECT TO {engine.url}")
    
print(engine.url)

CONNECTED TO postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise

*https://fxratesapi.com/docs/endpoints/list-available-currencies*

In [5]:
def get_currencies():
    try:
        df_currencies = pd.DataFrame()
        r = requests.get(base_url+'/currencies')
        currencies = r.json()
        for key, value in currencies.items():
            df = pd.json_normalize(value)
            df_currencies = pd.concat([df_currencies, df], ignore_index=True)
        return df_currencies
    except requests.exceptions.RequestException as e:
        print(f"Error during request: {e}")
        return None
    except requests.exceptions.HTTPError as e:
        print(f"HTTP error occurred: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None

In [6]:
df_currencies = get_currencies()
df_currencies

,code,name,decimal_digits,name_plural,rounding,symbol,symbol_native
0,AFN,Afghan Afghani,0,Afghan Afghanis,0,Af,؋
1,ALL,Albanian Lek,0,Albanian lekë,0,ALL,Lek
2,AMD,Armenian Dram,0,Armenian drams,0,AMD,դր.
3,ANG,NL Antillean Guilder,2,NL Antillean Guilders,0,ƒ,NAƒ
4,AOA,Angolan Kwanza,2,Angolan Kwanza,0,Kz,Kz
...,...,...,...,...,...,...,...
180,LYD,Libyan Dinar,3,Libyan dinars,0,LD,د.ل.‏
181,MGA,Malagasy Ariary,0,Malagasy Ariaries,0,MGA,MGA
182,MYR,Malaysian Ringgit,2,Malaysian ringgits,0,RM,RM
183,SBD,Solomon Islands Dollar,2,Solomon Islands Dollars,0,SI$,$
184,UZS,Uzbekistan Som,0,Uzbekistan som,0,UZS,UZS

In [7]:
start_date = None
end_date = None
period = None
hoy = datetime.now(timezone.utc)
inicio_utc = datetime(2023, 1, 1, tzinfo=timezone.utc)
fechas_inicio = pd.date_range(start=inicio_utc, end=hoy, freq="MS", tz=timezone.utc)
df_dates_ranges = pd.DataFrame({
    'start_date': fechas_inicio,
    'end_date': fechas_inicio + pd.DateOffset(months=1) - timedelta(days=1)
})
df_dates_ranges['start_date'] = df_dates_ranges['start_date'].dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
df_dates_ranges['end_date'] = df_dates_ranges['end_date'].dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
df_dates_ranges['period'] = df_dates_ranges['end_date'].str[0:7]
ultima_fila_idx = df_dates_ranges.index[-1]
df_dates_ranges.at[ultima_fila_idx, 'end_date'] = datetime.today().replace(hour=0, minute=0, second=0, microsecond=0) \
                                                    .strftime('%Y-%m-%dT%H:%M:%S.%fZ')
df_dates_ranges

                     start_date                     end_date   period
0   2023-01-01T00:00:00.000000Z  2023-01-31T00:00:00.000000Z  2023-01
1   2023-02-01T00:00:00.000000Z  2023-02-28T00:00:00.000000Z  2023-02
2   2023-03-01T00:00:00.000000Z  2023-03-31T00:00:00.000000Z  2023-03
3   2023-04-01T00:00:00.000000Z  2023-04-30T00:00:00.000000Z  2023-04
4   2023-05-01T00:00:00.000000Z  2023-05-31T00:00:00.000000Z  2023-05
5   2023-06-01T00:00:00.000000Z  2023-06-30T00:00:00.000000Z  2023-06
6   2023-07-01T00:00:00.000000Z  2023-07-31T00:00:00.000000Z  2023-07
7   2023-08-01T00:00:00.000000Z  2023-08-31T00:00:00.000000Z  2023-08
8   2023-09-01T00:00:00.000000Z  2023-09-30T00:00:00.000000Z  2023-09
9   2023-10-01T00:00:00.000000Z  2023-10-31T00:00:00.000000Z  2023-10
10  2023-11-01T00:00:00.000000Z  2023-11-30T00:00:00.000000Z  2023-11
11  2023-12-01T00:00:00.000000Z  2023-12-31T00:00:00.000000Z  2023-12
12  2024-01-01T00:00:00.000000Z  2024-01-31T00:00:00.000000Z  2024-01
13  2024-02-01T00:00:00.000000Z  2024-02-29T00:00:00.000000Z  2024-02
14  2024-03-01T00:00:00.000000Z  2024-03-31T00:00:00.000000Z  2024-03
15  2024-04-01T00:00:00.000000Z  2024-04-30T00:00:00.000000Z  2024-04
16  2024-05-01T00:00:00.000000Z  2024-05-31T00:00:00.000000Z  2024-05
17  2024-06-01T00:00:00.000000Z  2024-06-30T00:00:00.000000Z  2024-06
18  2024-07-01T00:00:00.000000Z  2024-07-09T00:00:00.000000Z  2024-07

In [8]:
for index, row in df_dates_ranges.iterrows():
    if '2024-07' in row['start_date']:
        start_date = row['start_date']
        end_date = row['end_date']
        period = row['period']
print({'start_date': start_date, 'end_date': end_date, 'period': period})

{'start_date': '2024-07-01T00:00:00.000000Z', 'end_date': '2024-07-09T00:00:00.000000Z', 'period': '2024-07'}

*https://fxratesapi.com/docs/endpoints/time-series-exchange-rates*

In [9]:
def get_series_times(row):
    try:
        base_code = row['code']
        query = {
            'base': base_code,
            'start_date': start_date,
            'end_date': end_date,
        }
        r = requests.get(base_url+'/timeseries', params=query)
        time_series = r.json()
        # print(time_series)
        return (
            time_series['start_date'] if 'start_date' in time_series else "N/A",
            time_series['end_date'] if 'end_date' in time_series else "N/A",
            json.dumps(time_series['rates'] if 'rates' in time_series else "N/A", ensure_ascii=False)
        )
    except requests.exceptions.RequestException as e:
        print(f"Error during request: {e}")
        return None, None, None
    except requests.exceptions.HTTPError as e:
        print(f"HTTP error occurred: {e}")
        return None, None, None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None, None, None

In [10]:
df_currencies['start_date'], df_currencies['end_date'], df_currencies['rates'] = zip(*df_currencies.apply(get_series_times, axis=1))

In [11]:
print(df_currencies.columns)

Index(['code', 'name', 'decimal_digits', 'name_plural', 'rounding', 'symbol',
       'symbol_native', 'start_date', 'end_date', 'rates'],
      dtype='object')

In [12]:
df_currencies['period'] = df_currencies['start_date'].str[:7]
df_currencies

,code,name,decimal_digits,name_plural,rounding,symbol,symbol_native,start_date,end_date,rates,period
0,AFN,Afghan Afghani,0,Afghan Afghanis,0,Af,؋,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""AFN"": 1, ""ADA"":...",2024-07
1,ALL,Albanian Lek,0,Albanian lekë,0,ALL,Lek,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""ALL"": 1, ""ADA"":...",2024-07
2,AMD,Armenian Dram,0,Armenian drams,0,AMD,դր.,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""AMD"": 1, ""ADA"":...",2024-07
3,ANG,NL Antillean Guilder,2,NL Antillean Guilders,0,ƒ,NAƒ,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""ANG"": 1, ""ADA"":...",2024-07
4,AOA,Angolan Kwanza,2,Angolan Kwanza,0,Kz,Kz,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""AOA"": 1, ""ADA"":...",2024-07
...,...,...,...,...,...,...,...,...,...,...,...
180,LYD,Libyan Dinar,3,Libyan dinars,0,LD,د.ل.‏,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""LYD"": 1, ""ADA"":...",2024-07
181,MGA,Malagasy Ariary,0,Malagasy Ariaries,0,MGA,MGA,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""MGA"": 1, ""ADA"":...",2024-07
182,MYR,Malaysian Ringgit,2,Malaysian ringgits,0,RM,RM,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""MYR"": 1, ""ADA"":...",2024-07
183,SBD,Solomon Islands Dollar,2,Solomon Islands Dollars,0,SI$,$,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""SBD"": 1, ""ADA"":...",2024-07
184,UZS,Uzbekistan Som,0,Uzbekistan som,0,UZS,UZS,2024-07-01T00:00:00.000Z,2024-07-09T00:00:00.000Z,"{""2024-07-08T23:59:00.000Z"": {""UZS"": 1, ""ADA"":...",2024-07

In [13]:
if 'localhost' not in engine.url:
    df_currencies.to_sql(f'time_series_download_{period}', engine, if_exists='replace', schema='api_fxratesapi', index=False)
    print(f'Table time_series_download_{period} saved in {engine.url}')
else:
    df_currencies.to_sql(f'time_series_download_{period}', engine, if_exists='replace', schema='public', index=False)
    print(f'Table time_series_download_{period} saved in {engine.url}')

Table time_series_download_2024-07 saved in postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise