In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy import create_engine, exc, text as sql_text
import os
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [2]:
database_url = os.getenv("DATABASE_URL")
engine = None

try:
    engine = create_engine(database_url)
    with engine.connect():
        print(f"CONNECTED TO {engine.url}")
except:
    print(f"CANNOT CONNECT TO {engine.url}")

CONNECTED TO postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise

In [3]:
df_tables = None
if 'localhost' not in engine.url:
    schema = "api_fxratesapi"
    base_query = f"""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = '{schema}'
    """

    df_tables = pd.read_sql(base_query, engine)
    df_tables = df_tables[df_tables['table_name'].str.contains('time_series') & ~df_tables['table_name'].str.contains('download') & ~df_tables['table_name'].str.contains('|'.join(['USD', 'ARS', 'BTC', 'EUR', 'ETH']))].sort_values('table_name', ascending=True)

    transform_query = []
else:
    schema = "public"
    base_query = f"""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = '{schema}'
    """

    df_tables = pd.read_sql(base_query, engine)
    # df_tables = df_tables[df_tables['table_name'].str.contains('time_series') & ~df_tables['table_name'].str.contains('|'.join(['USD', 'ARS', 'BTC', 'EUR', 'ETH']))].sort_values('table_name', ascending=True)

    # transform_query = []

In [4]:
df_tables

             table_name
27  time_series_2023-08
28  time_series_2023-09
29  time_series_2023-10
30  time_series_2023-11
31  time_series_2023-12
32  time_series_2024-01
33  time_series_2024-02
34  time_series_2024-03
35  time_series_2024-04
36  time_series_2024-05
37  time_series_2024-06
38  time_series_2024-07

In [5]:
df_exchanges = pd.DataFrame()

In [6]:
for table in df_tables['table_name']:
    query = f"""
        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "{schema}"."{table}"
    """
    print(query)
    df = pd.read_sql(query, con=engine)
    df_exchanges = pd.concat([df_exchanges, df])

        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2023-08"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2023-09"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2023-10"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2023-11"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2023-12"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2024-01"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2024-02"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2024-03"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2024-04"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2024-05"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2024-06"


        SELECT "code", "period", "date", "ARS", "BTC", "ETH", "EUR", "USD", "USDC", "USDT" FROM "api_fxratesapi"."time_series_2024-07"

In [7]:
df_exchanges

,code,period,date,ARS,BTC,ETH,EUR,USD,USDC,USDT
0,ARS,2023-08,2023-08-30T23:59:00.000Z,1.00000,0.00000,0.00000,0.00262,0.00286,NaN,NaN
1,ARS,2023-08,2023-08-29T23:59:00.000Z,1.00000,0.00000,0.00000,0.00263,0.00286,NaN,NaN
2,ARS,2023-08,2023-08-28T23:59:00.000Z,1.00000,0.00000,0.00000,0.00264,0.00286,NaN,NaN
3,ARS,2023-08,2023-08-27T23:59:00.000Z,1.00000,0.00000,0.00000,0.00265,0.00286,NaN,NaN
4,ARS,2023-08,2023-08-26T23:59:00.000Z,1.00000,0.00000,0.00000,0.00265,0.00286,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
90,USD,2024-07,2024-07-05T23:59:00.000Z,914.58909,0.00002,0.00034,0.92235,1.00000,NaN,NaN
91,USD,2024-07,2024-07-04T23:59:00.000Z,913.89277,0.00002,0.00033,0.92466,1.00000,NaN,NaN
92,USD,2024-07,2024-07-03T23:59:00.000Z,913.53722,0.00002,0.00030,0.92654,1.00000,NaN,NaN
93,USD,2024-07,2024-07-02T23:59:00.000Z,913.85562,0.00002,0.00029,0.92985,1.00000,NaN,NaN
94,USD,2024-07,2024-07-01T23:59:00.000Z,913.05119,0.00002,0.00029,0.93126,1.00000,NaN,NaN

In [8]:
def add_period(row):
    date = row['date']
    return date[0:10], date[0:7]

In [9]:
df_exchanges['date'], df_exchanges['period'] = zip(*df_exchanges.apply(add_period, axis=1))
df_exchanges

,code,period,date,ARS,BTC,ETH,EUR,USD,USDC,USDT
0,ARS,2023-08,2023-08-30,1.00000,0.00000,0.00000,0.00262,0.00286,NaN,NaN
1,ARS,2023-08,2023-08-29,1.00000,0.00000,0.00000,0.00263,0.00286,NaN,NaN
2,ARS,2023-08,2023-08-28,1.00000,0.00000,0.00000,0.00264,0.00286,NaN,NaN
3,ARS,2023-08,2023-08-27,1.00000,0.00000,0.00000,0.00265,0.00286,NaN,NaN
4,ARS,2023-08,2023-08-26,1.00000,0.00000,0.00000,0.00265,0.00286,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
90,USD,2024-07,2024-07-05,914.58909,0.00002,0.00034,0.92235,1.00000,NaN,NaN
91,USD,2024-07,2024-07-04,913.89277,0.00002,0.00033,0.92466,1.00000,NaN,NaN
92,USD,2024-07,2024-07-03,913.53722,0.00002,0.00030,0.92654,1.00000,NaN,NaN
93,USD,2024-07,2024-07-02,913.85562,0.00002,0.00029,0.92985,1.00000,NaN,NaN
94,USD,2024-07,2024-07-01,913.05119,0.00002,0.00029,0.93126,1.00000,NaN,NaN

In [10]:
df_exchanges['date'] = pd.to_datetime(df_exchanges['date'])

In [11]:
list(df_exchanges.columns)
df_exchanges.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6251 entries, 0 to 94
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    6251 non-null   object
 1   period  6251 non-null   object
 2   date    6251 non-null   datetime64[ns]
 3   ARS     5593 non-null   float64
 4   BTC     5593 non-null   float64
 5   ETH     5593 non-null   float64
 6   EUR     5593 non-null   float64
 7   USD     5586 non-null   float64
 8   USDC    329 non-null    float64
 9   USDT    329 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(2)
memory usage: 537.2+ KB

In [12]:
df_exchanges.describe()

,date,ARS,BTC,ETH,EUR,USD,USDC,USDT
count,6251,5593.00000,5593.00000,5593.00000,5593.00000,5586.00000,329.00000,329.00000
mean,2024-01-17 01:53:47.963525888,2162896.87963,0.06265,1.14431,2754.53951,2979.54753,1.00000,1.00000
min,2023-08-01 00:00:00,1.00000,0.00000,0.00000,0.00101,0.00109,1.00000,1.00000
25%,2023-10-24 00:00:00,222.81548,0.00001,0.00018,0.50708,0.54514,1.00000,1.00000
50%,2024-01-17 00:00:00,555.02274,0.00002,0.00036,0.92536,1.00000,1.00000,1.00000
75%,2024-04-11 00:00:00,6352.21800,0.00016,0.00274,6.88903,7.48088,1.00000,1.00000
max,2024-07-05 00:00:00,63866303.27317,1.00000,22.15889,66768.82748,73138.44376,1.00000,1.00000
std,NaN,9573822.55749,0.23472,4.30314,10928.46220,11816.63188,0.00000,0.00000

In [13]:
df_exchanges['ARS'].max()

63866303.27316706

In [14]:
df_exchanges.isnull().sum()

code         0
period       0
date         0
ARS        658
BTC        658
ETH        658
EUR        658
USD        665
USDC      5922
USDT      5922
dtype: int64

In [15]:
df_exchanges = df_exchanges.fillna(0)

In [16]:
df_exchanges.isnull().sum()

code      0
period    0
date      0
ARS       0
BTC       0
ETH       0
EUR       0
USD       0
USDC      0
USDT      0
dtype: int64

In [17]:
df_exchanges

,code,period,date,ARS,BTC,ETH,EUR,USD,USDC,USDT
0,ARS,2023-08,2023-08-30,1.00000,0.00000,0.00000,0.00262,0.00286,0.00000,0.00000
1,ARS,2023-08,2023-08-29,1.00000,0.00000,0.00000,0.00263,0.00286,0.00000,0.00000
2,ARS,2023-08,2023-08-28,1.00000,0.00000,0.00000,0.00264,0.00286,0.00000,0.00000
3,ARS,2023-08,2023-08-27,1.00000,0.00000,0.00000,0.00265,0.00286,0.00000,0.00000
4,ARS,2023-08,2023-08-26,1.00000,0.00000,0.00000,0.00265,0.00286,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...
90,USD,2024-07,2024-07-05,914.58909,0.00002,0.00034,0.92235,1.00000,0.00000,0.00000
91,USD,2024-07,2024-07-04,913.89277,0.00002,0.00033,0.92466,1.00000,0.00000,0.00000
92,USD,2024-07,2024-07-03,913.53722,0.00002,0.00030,0.92654,1.00000,0.00000,0.00000
93,USD,2024-07,2024-07-02,913.85562,0.00002,0.00029,0.92985,1.00000,0.00000,0.00000
94,USD,2024-07,2024-07-01,913.05119,0.00002,0.00029,0.93126,1.00000,0.00000,0.00000