In [54]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone
import psycopg2
from sqlalchemy import create_engine
import json

In [55]:
engine = create_engine('postgresql://matias92:francia92@localhost:5432/exchanges_db')
base_url ='https://api.fxratesapi.com'

*https://fxratesapi.com/docs/endpoints/list-available-currencies*

In [56]:
def get_currencies():
    try:
        df_currencies = pd.DataFrame()
        r = requests.get(base_url+'/currencies')
        currencies = r.json()
        for key, value in currencies.items():
            df = pd.json_normalize(value)
            df_currencies = pd.concat([df_currencies, df], ignore_index=True)
        return df_currencies
    except requests.exceptions.RequestException as e:
        print(f"Error during request: {e}")
        return None
    except requests.exceptions.HTTPError as e:
        print(f"HTTP error occurred: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None

In [57]:
df_currencies = get_currencies()
df_currencies

,code,name,decimal_digits,name_plural,rounding,symbol,symbol_native
0,AFN,Afghan Afghani,0,Afghan Afghanis,0,Af,؋
1,ALL,Albanian Lek,0,Albanian lekë,0,ALL,Lek
2,AMD,Armenian Dram,0,Armenian drams,0,AMD,դր.
3,ANG,NL Antillean Guilder,2,NL Antillean Guilders,0,ƒ,NAƒ
4,AOA,Angolan Kwanza,2,Angolan Kwanza,0,Kz,Kz
...,...,...,...,...,...,...,...
180,LYD,Libyan Dinar,3,Libyan dinars,0,LD,د.ل.‏
181,MGA,Malagasy Ariary,0,Malagasy Ariaries,0,MGA,MGA
182,MYR,Malaysian Ringgit,2,Malaysian ringgits,0,RM,RM
183,SBD,Solomon Islands Dollar,2,Solomon Islands Dollars,0,SI$,$
184,UZS,Uzbekistan Som,0,Uzbekistan som,0,UZS,UZS

In [58]:
start_date = None
end_date = None
period = None
hoy = datetime.now(timezone.utc)
inicio_utc = datetime(2023, 1, 1, tzinfo=timezone.utc)
fechas_inicio = pd.date_range(start=inicio_utc, end=hoy, freq="MS", tz=timezone.utc)
df_dates_ranges = pd.DataFrame({
    'start_date': fechas_inicio,
    'end_date': fechas_inicio + pd.DateOffset(months=1) - timedelta(days=1)
})
df_dates_ranges['start_date'] = df_dates_ranges['start_date'].dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
df_dates_ranges['end_date'] = df_dates_ranges['end_date'].dt.strftime('%Y-%m-%dT%H:%M:%S.%fZ')
df_dates_ranges['period'] = df_dates_ranges['end_date'].str[0:7]
ultima_fila_idx = df_dates_ranges.index[-1]
df_dates_ranges.at[ultima_fila_idx, 'end_date'] = datetime.today().replace(hour=0, minute=0, second=0, microsecond=0) \
                                                    .strftime('%Y-%m-%dT%H:%M:%S.%fZ')
df_dates_ranges

                     start_date                     end_date   period
0   2023-01-01T00:00:00.000000Z  2023-01-31T00:00:00.000000Z  2023-01
1   2023-02-01T00:00:00.000000Z  2023-02-28T00:00:00.000000Z  2023-02
2   2023-03-01T00:00:00.000000Z  2023-03-31T00:00:00.000000Z  2023-03
3   2023-04-01T00:00:00.000000Z  2023-04-30T00:00:00.000000Z  2023-04
4   2023-05-01T00:00:00.000000Z  2023-05-31T00:00:00.000000Z  2023-05
5   2023-06-01T00:00:00.000000Z  2023-06-30T00:00:00.000000Z  2023-06
6   2023-07-01T00:00:00.000000Z  2023-07-31T00:00:00.000000Z  2023-07
7   2023-08-01T00:00:00.000000Z  2023-08-31T00:00:00.000000Z  2023-08
8   2023-09-01T00:00:00.000000Z  2023-09-30T00:00:00.000000Z  2023-09
9   2023-10-01T00:00:00.000000Z  2023-10-31T00:00:00.000000Z  2023-10
10  2023-11-01T00:00:00.000000Z  2023-11-30T00:00:00.000000Z  2023-11
11  2023-12-01T00:00:00.000000Z  2023-12-31T00:00:00.000000Z  2023-12
12  2024-01-01T00:00:00.000000Z  2024-01-30T00:00:00.000000Z  2024-01

In [59]:
for index, row in df_dates_ranges.iterrows():
    if '2023-02' in row['start_date']:
        start_date = row['start_date']
        end_date = row['end_date']
        period = row['period']
print({'start_date': start_date, 'end_date': end_date, 'period': period})

{'start_date': '2023-02-01T00:00:00.000000Z', 'end_date': '2023-02-28T00:00:00.000000Z', 'period': '2023-02'}

*https://fxratesapi.com/docs/endpoints/time-series-exchange-rates*

In [60]:
def get_series_times(row):
    try:
        base_code = row['code']
        query = {
            'base': base_code,
            'start_date': start_date,
            'end_date': end_date,
        }
        r = requests.get(base_url+'/timeseries', params=query)
        time_series = r.json()
        return (
            time_series['start_date'] if 'start_date' in time_series else "N/A",
            time_series['end_date'] if 'end_date' in time_series else "N/A",
            json.dumps(time_series['rates'] if 'rates' in time_series else "N/A")
        )
    except requests.exceptions.RequestException as e:
        print(f"Error during request: {e}")
        return None, None, None
    except requests.exceptions.HTTPError as e:
        print(f"HTTP error occurred: {e}")
        return None, None, None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None, None, None

In [61]:
df_currencies['start_date'], df_currencies['end_date'], df_currencies['rates'] = zip(*df_currencies.apply(get_series_times, axis=1))

In [62]:
print(df_currencies.columns)

Index(['code', 'name', 'decimal_digits', 'name_plural', 'rounding', 'symbol',
       'symbol_native', 'start_date', 'end_date', 'rates'],
      dtype='object')

In [63]:
df_currencies['period'] = df_currencies['start_date'].str[:7]
df_currencies

,code,name,decimal_digits,name_plural,rounding,symbol,symbol_native,start_date,end_date,rates,period
0,AFN,Afghan Afghani,0,Afghan Afghanis,0,Af,؋,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AFN"": 1, ""ADA"":...",2023-02
1,ALL,Albanian Lek,0,Albanian lekë,0,ALL,Lek,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ALL"": 1, ""ADA"":...",2023-02
2,AMD,Armenian Dram,0,Armenian drams,0,AMD,դր.,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AMD"": 1, ""ADA"":...",2023-02
3,ANG,NL Antillean Guilder,2,NL Antillean Guilders,0,ƒ,NAƒ,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ANG"": 1, ""ADA"":...",2023-02
4,AOA,Angolan Kwanza,2,Angolan Kwanza,0,Kz,Kz,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AOA"": 1, ""ADA"":...",2023-02
...,...,...,...,...,...,...,...,...,...,...,...
180,LYD,Libyan Dinar,3,Libyan dinars,0,LD,د.ل.‏,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""LYD"": 1, ""ADA"":...",2023-02
181,MGA,Malagasy Ariary,0,Malagasy Ariaries,0,MGA,MGA,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""MGA"": 1, ""ADA"":...",2023-02
182,MYR,Malaysian Ringgit,2,Malaysian ringgits,0,RM,RM,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""MYR"": 1, ""ADA"":...",2023-02
183,SBD,Solomon Islands Dollar,2,Solomon Islands Dollars,0,SI$,$,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""SBD"": 1, ""ADA"":...",2023-02
184,UZS,Uzbekistan Som,0,Uzbekistan som,0,UZS,UZS,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""UZS"": 1, ""ADA"":...",2023-02

In [64]:
df_currencies.to_sql(f'time_series_{period}', engine, if_exists='replace', schema='public', index=False)

185