In [30]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone
import psycopg2
from sqlalchemy import create_engine
import json

In [31]:
engine = create_engine('postgresql://matias92:francia92@localhost:5432/exchanges_db')

In [32]:
schema = "public"
base_query = f"""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = '{schema}'
"""

df_tables = pd.read_sql(base_query, engine)
df_tables = df_tables[df_tables['table_name'].str.contains('time_series') & ~df_tables['table_name'].str.contains('|'.join(['USD', 'ARS', 'BTC', 'EUR', 'ETH']))].sort_values('table_name', ascending=True)

transform_query = []

In [33]:
df_tables

            table_name
0  time_series_2023-02

In [34]:
for table in df_tables['table_name']:
    print("SELECT * FROM "+f'"{schema}"'+"."+f'"{table}"')
    transform_query.append("SELECT * FROM "+f'"{schema}"'+"."+f'"{table}"')
    
new_queries = [query + ' UNION ALL' for query in transform_query[:-1]]
new_queries.append(transform_query[-1])
new_queries = ','.join(new_queries).replace(",", " ")
new_queries

SELECT * FROM "public"."time_series_2023-02"

'SELECT * FROM "public"."time_series_2023-02"'

In [35]:
df_transform_data = pd.read_sql(new_queries, engine)
df_transform_data

,code,name,decimal_digits,name_plural,rounding,symbol,symbol_native,start_date,end_date,rates,period
0,AFN,Afghan Afghani,0,Afghan Afghanis,0,Af,؋,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AFN"": 1, ""ADA"":...",2023-02
1,ALL,Albanian Lek,0,Albanian lekë,0,ALL,Lek,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ALL"": 1, ""ADA"":...",2023-02
2,AMD,Armenian Dram,0,Armenian drams,0,AMD,դր.,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AMD"": 1, ""ADA"":...",2023-02
3,ANG,NL Antillean Guilder,2,NL Antillean Guilders,0,ƒ,NAƒ,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ANG"": 1, ""ADA"":...",2023-02
4,AOA,Angolan Kwanza,2,Angolan Kwanza,0,Kz,Kz,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AOA"": 1, ""ADA"":...",2023-02
...,...,...,...,...,...,...,...,...,...,...,...
180,LYD,Libyan Dinar,3,Libyan dinars,0,LD,د.ل.‏,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""LYD"": 1, ""ADA"":...",2023-02
181,MGA,Malagasy Ariary,0,Malagasy Ariaries,0,MGA,MGA,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""MGA"": 1, ""ADA"":...",2023-02
182,MYR,Malaysian Ringgit,2,Malaysian ringgits,0,RM,RM,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""MYR"": 1, ""ADA"":...",2023-02
183,SBD,Solomon Islands Dollar,2,Solomon Islands Dollars,0,SI$,$,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""SBD"": 1, ""ADA"":...",2023-02
184,UZS,Uzbekistan Som,0,Uzbekistan som,0,UZS,UZS,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""UZS"": 1, ""ADA"":...",2023-02

In [36]:
df_transform_data = df_transform_data[df_transform_data['code'].isin(['USD', 'ARS', 'BTC', 'EUR', 'ETH'])]
df_time_series_values = pd.DataFrame()
for index, row in df_transform_data.iterrows():
    base_code = row['code']
    start_date = row['start_date']
    rates = row['rates']
    if isinstance(rates, str):
        rates_dict = json.loads(rates)
        for key, value in rates_dict.items():
            if isinstance(value, dict):
                df = pd.json_normalize(value)
                df['code'] = base_code
                df['date'] = key
                df['period'] = key[:7]
                df_time_series_values = pd.concat([df_time_series_values, df], ignore_index=True)
df_time_series_values

,ARS,ADA,AED,AFN,ALL,AMD,ANG,AOA,AUD,AWG,...,XRP,YER,ZAR,ZMK,ZMW,ZWL,USD,code,date,period
0,1.000000,0.013932,0.018665,0.444623,0.551206,1.985697,0.009158,2.578815,0.007538,0.009159,...,0.013409,1.272130,0.093561,45.738740,0.100485,1.636210,0.005081,ARS,2023-02-27T23:59:00.000Z,2023-02
1,1.000000,0.013835,0.018761,0.453829,0.555404,2.004713,0.009201,2.587166,0.007587,0.009194,...,0.013435,1.278897,0.094101,45.977448,0.100696,1.644750,0.005108,ARS,2023-02-26T23:59:00.000Z,2023-02
2,1.000000,0.014129,0.018817,0.455169,0.557044,2.010635,0.009228,2.594807,0.007617,0.009221,...,0.013449,1.282675,0.094382,46.113259,0.100993,1.649608,0.005123,ARS,2023-02-25T23:59:00.000Z,2023-02
3,1.000000,0.014004,0.018834,0.456371,0.554183,2.005579,0.009245,2.597214,0.007599,0.009230,...,0.013504,1.283864,0.094371,46.156021,0.101181,1.651138,0.005128,ARS,2023-02-24T23:59:00.000Z,2023-02
4,1.000000,0.013370,0.018806,0.453112,0.555915,2.004191,0.009225,2.579569,0.007518,0.009216,...,0.013153,1.281897,0.093465,46.085276,0.100713,1.648607,0.005120,ARS,2023-02-23T23:59:00.000Z,2023-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,188.097289,2.546620,3.673014,90.511231,107.291015,399.880126,1.818998,504.408369,1.445287,1.802501,...,2.499536,250.400198,17.468978,9001.200000,19.282650,321.999592,1.000000,USD,2023-02-05T23:59:00.000Z,2023-02
131,187.428567,2.504353,3.673105,90.511300,107.291101,399.880405,1.819000,504.408848,1.444672,1.802503,...,2.416895,250.400498,17.467797,9001.200000,19.282670,321.999592,NaN,USD,2023-02-04T23:59:00.000Z,2023-02
132,187.428571,2.466001,3.673107,90.500157,106.297225,396.480649,1.802148,504.408943,1.444254,1.802502,...,2.399023,250.400485,17.467516,9001.200000,19.104036,321.999592,NaN,USD,2023-02-03T23:59:00.000Z,2023-02
133,187.583969,2.508219,3.673106,90.000170,106.350196,396.040643,1.802077,504.275705,1.413562,1.800003,...,2.423926,250.400468,17.084019,9001.200000,19.099279,321.999592,NaN,USD,2023-02-02T23:59:00.000Z,2023-02
134,187.255854,2.528426,3.673107,90.000176,106.660188,395.740721,1.802104,504.275577,1.399641,1.800003,...,2.432026,250.400498,17.032530,9001.200000,19.103615,321.999592,NaN,USD,2023-02-01T23:59:00.000Z,2023-02

In [37]:
print(df_time_series_values['code'].unique())
print(df_time_series_values['period'].unique())

['ARS' 'EUR' 'BTC' 'ETH' 'USD']
['2023-02']

In [38]:
# df_time_series_values[(df_time_series_values['code'] == 'USD') & (df_time_series_values['period'] == '2023-12')]

In [39]:
df_time_series_values_for_outputs = df_time_series_values[['code', 'period']].drop_duplicates().sort_values('code')
for index, row in df_time_series_values_for_outputs.iterrows():
    code = row['code']
    period = row['period']
    df_output = df_time_series_values[(df_time_series_values['code'] == code) & (df_time_series_values['period'] == period)]
    print(df_output.shape)
    df_output.to_sql(f'time_series_{code}_{period}', engine, if_exists='replace', schema='public', index=False)
    print(f'TABLE time_series_{code}_{period} SAVED')

(27, 180)
TABLE time_series_ARS_2023-02 SAVED
(27, 180)
TABLE time_series_BTC_2023-02 SAVED
(27, 180)
TABLE time_series_ETH_2023-02 SAVED
(27, 180)
TABLE time_series_EUR_2023-02 SAVED
(27, 180)
TABLE time_series_USD_2023-02 SAVED