In [62]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone
import psycopg2
from sqlalchemy import create_engine
import json

In [63]:
engine = create_engine('postgresql://postgres:root@localhost:5432/data_practise')

In [64]:
schema = "API_currency_exchange_fxratesapI"
base_query = f"""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = '{schema}'
"""

df_tables = pd.read_sql(base_query, engine)
df_tables = df_tables[df_tables['table_name'].str.contains('time_series') & ~df_tables['table_name'].str.contains('|'.join(['USD', 'ARS', 'BTC', 'EUR', 'ETH']))].sort_values('table_name', ascending=True)

transform_query = []

In [65]:
df_tables

             table_name
9   time_series_2023-02
0   time_series_2023-03
4   time_series_2023-04
5   time_series_2023-05
8   time_series_2023-06
10  time_series_2023-07
2   time_series_2023-08
3   time_series_2023-09
6   time_series_2023-10
7   time_series_2023-11
11  time_series_2023-12
1   time_series_2024-01

In [66]:
for table in df_tables['table_name']:
    print("SELECT * FROM "+f'"{schema}"'+"."+f'"{table}"')
    transform_query.append("SELECT * FROM "+f'"{schema}"'+"."+f'"{table}"')
    
new_queries = [query + ' UNION ALL' for query in transform_query[:-1]]
new_queries.append(transform_query[-1])
new_queries = ','.join(new_queries).replace(",", " ")
new_queries

SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-02"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-03"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-04"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-05"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-06"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-07"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-08"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-09"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-10"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-11"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-12"
SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2024-01"

'SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-02" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-03" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-04" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-05" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-06" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-07" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-08" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-09" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-10" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-11" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2023-12" UNION ALL SELECT * FROM "API_currency_exchange_fxratesapI"."time_series_2024-01"'

In [67]:
df_transform_data = pd.read_sql(new_queries, engine)
df_transform_data

,code,name,decimal_digits,name_plural,rounding,symbol,symbol_native,start_date,end_date,rates,period
0,AFN,Afghan Afghani,0,Afghan Afghanis,0,Af,؋,None,None,None,None
1,ALL,Albanian Lek,0,Albanian lekë,0,ALL,Lek,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ALL"": 1, ""ADA"":...",2023-02
2,AMD,Armenian Dram,0,Armenian drams,0,AMD,դր.,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AMD"": 1, ""ADA"":...",2023-02
3,ANG,NL Antillean Guilder,2,NL Antillean Guilders,0,ƒ,NAƒ,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ANG"": 1, ""ADA"":...",2023-02
4,AOA,Angolan Kwanza,2,Angolan Kwanza,0,Kz,Kz,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AOA"": 1, ""ADA"":...",2023-02
...,...,...,...,...,...,...,...,...,...,...,...
2215,LYD,Libyan Dinar,3,Libyan dinars,0,LD,د.ل.‏,2024-01-01T00:00:00.000Z,2024-01-26T00:00:00.000Z,"{""2024-01-25T23:59:00.000Z"": {""LYD"": 1, ""ADA"":...",2024-01
2216,MGA,Malagasy Ariary,0,Malagasy Ariaries,0,MGA,MGA,2024-01-01T00:00:00.000Z,2024-01-26T00:00:00.000Z,"{""2024-01-25T23:59:00.000Z"": {""MGA"": 1, ""ADA"":...",2024-01
2217,MYR,Malaysian Ringgit,2,Malaysian ringgits,0,RM,RM,2024-01-01T00:00:00.000Z,2024-01-26T00:00:00.000Z,"{""2024-01-25T23:59:00.000Z"": {""MYR"": 1, ""ADA"":...",2024-01
2218,SBD,Solomon Islands Dollar,2,Solomon Islands Dollars,0,SI$,$,2024-01-01T00:00:00.000Z,2024-01-26T00:00:00.000Z,"{""2024-01-25T23:59:00.000Z"": {""SBD"": 1, ""ADA"":...",2024-01
2219,UZS,Uzbekistan Som,0,Uzbekistan som,0,UZS,UZS,2024-01-01T00:00:00.000Z,2024-01-26T00:00:00.000Z,"{""2024-01-25T23:59:00.000Z"": {""UZS"": 1, ""ADA"":...",2024-01

In [68]:
df_transform_data = df_transform_data[df_transform_data['code'].isin(['USD', 'ARS', 'BTC', 'EUR', 'ETH'])]
df_time_series_values = pd.DataFrame()
for index, row in df_transform_data.iterrows():
    base_code = row['code']
    start_date = row['start_date']
    rates = row['rates']
    if isinstance(rates, str):
        rates_dict = json.loads(rates)
        for key, value in rates_dict.items():
            if isinstance(value, dict):
                df = pd.json_normalize(value)
                df['code'] = base_code
                df['date'] = key
                df['period'] = key[:7]
                df_time_series_values = pd.concat([df_time_series_values, df], ignore_index=True)
df_time_series_values

,ARS,ADA,AED,AFN,ALL,AMD,ANG,AOA,AUD,AWG,...,ZMK,ZMW,ZWL,USD,code,date,period,ARB,DAI,OP
0,1.000000,0.013932,0.018665,0.444623,0.551206,1.985697,0.009158,2.578815,0.007538,0.009159,...,45.738740,0.100485,1.636210,0.005081,ARS,2023-02-27T23:59:00.000Z,2023-02,NaN,NaN,NaN
1,1.000000,0.013835,0.018761,0.453829,0.555404,2.004713,0.009201,2.587166,0.007587,0.009194,...,45.977448,0.100696,1.644750,0.005108,ARS,2023-02-26T23:59:00.000Z,2023-02,NaN,NaN,NaN
2,1.000000,0.014129,0.018817,0.455169,0.557044,2.010635,0.009228,2.594807,0.007617,0.009221,...,46.113259,0.100993,1.649608,0.005123,ARS,2023-02-25T23:59:00.000Z,2023-02,NaN,NaN,NaN
3,1.000000,0.014004,0.018834,0.456371,0.554183,2.005579,0.009245,2.597214,0.007599,0.009230,...,46.156021,0.101181,1.651138,0.005128,ARS,2023-02-24T23:59:00.000Z,2023-02,NaN,NaN,NaN
4,1.000000,0.013370,0.018806,0.453112,0.555915,2.004191,0.009225,2.579569,0.007518,0.009216,...,46.085276,0.100713,1.648607,0.005120,ARS,2023-02-23T23:59:00.000Z,2023-02,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1625,812.307462,1.844913,3.672190,70.401192,95.271134,403.308841,1.787180,825.501775,1.489190,1.790000,...,9001.200000,25.847334,6425.469411,1.000000,USD,2024-01-05T23:59:00.000Z,2024-01,0.514549,0.998076,0.291233
1626,811.895946,1.753728,3.671700,70.408343,94.765617,405.217885,1.786720,827.814463,1.491180,1.790000,...,9001.200000,25.846623,6257.036464,1.000000,USD,2024-01-04T23:59:00.000Z,2024-01,0.497605,0.999747,0.267951
1627,810.503879,1.790897,3.670960,70.220701,94.225808,403.342430,1.785030,827.184221,1.484590,1.790000,...,9001.200000,25.817134,6178.019567,1.000000,USD,2024-01-03T23:59:00.000Z,2024-01,0.521756,0.996200,0.286926
1628,810.490698,1.645001,3.671671,70.034313,94.812566,408.169759,1.786060,829.326788,1.477910,1.790000,...,9001.200000,25.811783,6176.760031,1.000000,USD,2024-01-02T23:59:00.000Z,2024-01,0.561895,0.995713,0.268600
1629,808.544875,1.604214,3.671431,70.651792,93.908862,404.847537,1.786480,827.942615,1.468690,1.790000,...,9001.200000,25.788443,6251.798996,1.000000,USD,2024-01-01T23:59:00.000Z,2024-01,0.576572,0.994988,0.250294

In [69]:
print(df_time_series_values['code'].unique())
print(df_time_series_values['period'].unique())

['ARS' 'EUR' 'BTC' 'ETH' 'USD']
['2023-02' '2023-03' '2023-04' '2023-05' '2023-06' '2023-07' '2023-08'
 '2023-09' '2023-10' '2023-11' '2023-12' '2024-01']

In [70]:
# df_time_series_values[(df_time_series_values['code'] == 'USD') & (df_time_series_values['period'] == '2023-12')]

,ARS,ADA,AED,AFN,ALL,AMD,ANG,AOA,AUD,AWG,...,ZMK,ZMW,ZWL,USD,code,date,period,ARB,DAI,OP
1525,808.644067,1.656159,3.672030,70.648540,93.860198,404.637722,1.78670,827.513461,1.46789,1.79,...,9001.2,25.783244,6215.744434,1.0,USD,2023-12-30T23:59:00.000Z,2023-12,0.672057,0.993979,0.276107
1526,808.644043,1.639795,3.672031,70.648539,93.860197,404.637703,1.78670,827.513519,1.46789,1.79,...,9001.2,25.783243,6215.738679,1.0,USD,2023-12-29T23:59:00.000Z,2023-12,0.664791,0.997591,0.257680
1527,808.020168,1.617504,3.671161,70.648480,93.554607,406.180806,1.78644,830.599126,1.46494,1.79,...,9001.2,25.711653,5972.766028,1.0,USD,2023-12-28T23:59:00.000Z,2023-12,0.676566,0.998241,0.277082
1528,807.534050,1.579940,3.672391,70.387960,93.120082,403.495096,1.78658,825.497646,1.45947,1.79,...,9001.2,25.620605,5918.308509,1.0,USD,2023-12-27T23:59:00.000Z,2023-12,0.668675,1.000986,0.251587
1529,807.054473,1.641424,3.671400,70.096733,93.974195,403.472224,1.78641,827.452236,1.46513,1.79,...,9001.2,25.491284,5965.961032,1.0,USD,2023-12-26T23:59:00.000Z,2023-12,0.752820,0.994548,0.287654
1530,804.788370,1.595690,3.671621,69.922409,94.127297,404.672588,1.78510,829.721025,1.46914,1.79,...,9001.2,25.447105,5905.583584,1.0,USD,2023-12-25T23:59:00.000Z,2023-12,0.716658,0.994965,0.292040
1531,804.730076,1.674565,3.671620,69.968671,94.189552,406.231840,1.78629,830.269951,1.47070,1.79,...,9001.2,25.463943,5905.424900,1.0,USD,2023-12-24T23:59:00.000Z,2023-12,0.733477,0.992243,0.282554
1532,804.730066,1.625599,3.671620,69.968669,94.189554,406.231849,1.78629,830.269942,1.47070,1.79,...,9001.2,25.463944,5907.096502,1.0,USD,2023-12-23T23:59:00.000Z,2023-12,0.715056,0.993250,0.290829
1533,804.730105,1.601345,3.671621,69.968672,94.189556,406.231846,1.78629,830.269941,1.47070,1.79,...,9001.2,25.463943,5907.095504,1.0,USD,2023-12-22T23:59:00.000Z,2023-12,0.701337,0.999394,0.286842
1534,804.374331,1.575140,3.672630,69.957060,94.512941,404.527160,1.78623,828.633434,1.47103,1.79,...,9001.2,25.402354,5908.457425,1.0,USD,2023-12-21T23:59:00.000Z,2023-12,0.865665,1.001009,0.397660
1535,803.671425,1.694950,3.671950,69.958230,94.119576,405.162061,1.78642,830.699974,1.48385,1.79,...,9001.2,25.290185,5901.283095,1.0,USD,2023-12-20T23:59:00.000Z,2023-12,0.903608,0.992870,0.444644
1536,803.247510,1.734351,3.672160,69.983668,93.988328,405.161008,1.78688,829.397950,1.47925,1.79,...,9001.2,25.159314,5913.226499,1.0,USD,2023-12-19T23:59:00.000Z,2023-12,0.929537,1.001579,0.473896
1537,802.582054,1.665003,3.672881,69.725768,94.717501,405.891316,1.78574,829.959109,1.49199,1.79,...,9001.2,25.033083,5871.790800,1.0,USD,2023-12-18T23:59:00.000Z,2023-12,0.907840,0.999654,0.446941
1538,801.024457,1.710091,3.672100,69.976410,95.363583,407.745070,1.78949,831.399985,1.49256,1.79,...,9001.2,24.912955,5889.221002,1.0,USD,2023-12-17T23:59:00.000Z,2023-12,0.896108,0.997934,0.477426
1539,802.346727,1.643410,3.671741,69.963714,95.346284,407.671075,1.78916,831.249054,1.49222,1.79,...,9001.2,24.908433,5895.908254,1.0,USD,2023-12-16T23:59:00.000Z,2023-12,0.887985,0.998421,0.458732
1540,802.346701,1.656393,3.671741,69.963711,95.346288,407.671075,1.78916,831.249109,1.49222,1.79,...,9001.2,24.908433,5895.905617,1.0,USD,2023-12-15T23:59:00.000Z,2023-12,0.905036,0.996171,0.476721
1541,800.621941,1.559447,3.672081,69.845797,94.205936,402.526640,1.78665,827.180182,1.49222,1.79,...,9001.2,24.693303,5890.655263,1.0,USD,2023-12-14T23:59:00.000Z,2023-12,0.847863,1.006261,0.443650
1542,800.101515,1.508340,3.672050,69.646512,93.941733,400.351804,1.78653,822.854743,1.50013,1.79,...,9001.2,24.517845,5880.437356,1.0,USD,2023-12-13T23:59:00.000Z,2023-12,0.845909,1.003109,0.446767
1543,366.406359,1.735335,3.671330,69.546939,94.351744,403.349554,1.78597,827.998846,1.52311,1.79,...,9001.2,24.490452,5817.943272,1.0,USD,2023-12-12T23:59:00.000Z,2023-12,0.797339,1.000211,0.427430
1544,365.592983,1.819711,3.671011,69.533308,94.537255,403.712798,1.78597,830.103455,1.52318,1.79,...,9001.2,24.387895,5819.072015,1.0,USD,2023-12-11T23:59:00.000Z,2023-12,0.912771,0.999193,0.438285
1545,363.723065,1.682662,3.671281,69.213174,94.503160,403.637817,1.78609,827.101859,1.51991,1.79,...,9001.2,24.343133,5822.217337,1.0,USD,2023-12-10T23:59:00.000Z,2023-12,0.864669,0.998553,0.461036
1546,363.946859,1.728003,3.672060,69.244848,94.507686,403.657112,1.78693,827.141404,1.52004,1.79,...,9001.2,24.204204,5819.660290,1.0,USD,2023-12-09T23:59:00.000Z,2023-12,0.877284,0.997824,0.490908
1547,363.946864,1.826190,3.672060,69.244853,94.507680,403.657091,1.78693,827.141440,1.52004,1.79,...,9001.2,24.204204,5819.659209,1.0,USD,2023-12-08T23:59:00.000Z,2023-12,0.855084,0.998457,0.471426
1548,363.875429,2.192410,3.670910,69.208141,94.082246,402.248822,1.78589,826.009739,1.51636,1.79,...,9001.2,24.189784,5813.580159,1.0,USD,2023-12-07T23:59:00.000Z,2023-12,0.854914,1.001073,0.458823
1549,363.590222,2.258336,3.673361,69.268679,94.152846,403.728021,1.78662,831.489801,1.52659,1.79,...,9001.2,24.110304,5809.753262,1.0,USD,2023-12-06T23:59:00.000Z,2023-12,0.943530,0.998711,0.583921
1550,362.970888,2.344199,3.671411,69.492962,93.860771,403.465077,1.78579,832.060412,1.52544,1.79,...,9001.2,24.033463,5787.989885,1.0,USD,2023-12-05T23:59:00.000Z,2023-12,0.913782,0.996656,0.553060
1551,362.385085,2.452433,3.671241,69.320803,93.822144,403.880129,1.78580,828.333653,1.51107,1.79,...,9001.2,23.982574,5781.089316,1.0,USD,2023-12-04T23:59:00.000Z,2023-12,0.914596,0.998309,0.554568
1552,360.880122,2.530626,3.672041,69.785623,92.386172,400.132978,1.78558,822.194407,1.49613,1.79,...,9001.2,23.904842,5772.628246,1.0,USD,2023-12-03T23:59:00.000Z,2023-12,0.910155,0.999996,0.582714
1553,361.095970,2.511515,3.670540,69.827352,92.441420,400.372294,1.78665,822.686098,1.49820,1.79,...,9001.2,23.919133,5776.309755,1.0,USD,2023-12-02T23:59:00.000Z,2023-12,0.901578,0.999798,0.568692
1554,361.095967,2.602518,3.670541,69.827350,92.441420,400.372280,1.78665,822.686095,1.49820,1.79,...,9001.2,23.919133,5776.307591,1.0,USD,2023-12-01T23:59:00.000Z,2023-12,0.968929,1.000296,0.602828

In [71]:
df_time_series_values_for_outputs = df_time_series_values[['code', 'period']].drop_duplicates().sort_values('code')
for index, row in df_time_series_values_for_outputs.iterrows():
    code = row['code']
    period = row['period']
    df_output = df_time_series_values[(df_time_series_values['code'] == code) & (df_time_series_values['period'] == period)]
    print(df_output.shape)
    df_output.to_sql(f'time_series_{code}_{period}', engine, if_exists='replace', schema='API_currency_exchange_fxratesapI', index=False)
    print(f'TABLE time_series_{code}_{period} SAVED')

(27, 183)
TABLE time_series_ARS_2023-02 SAVED
(30, 183)
TABLE time_series_ARS_2023-07 SAVED
(30, 183)
TABLE time_series_ARS_2023-05 SAVED
(30, 183)
TABLE time_series_ARS_2023-08 SAVED
(30, 183)
TABLE time_series_ARS_2023-12 SAVED
(29, 183)
TABLE time_series_ARS_2023-09 SAVED
(29, 183)
TABLE time_series_ARS_2023-04 SAVED
(30, 183)
TABLE time_series_ARS_2023-03 SAVED
(25, 183)
TABLE time_series_ARS_2024-01 SAVED
(30, 183)
TABLE time_series_ARS_2023-10 SAVED
(29, 183)
TABLE time_series_ARS_2023-11 SAVED
(29, 183)
TABLE time_series_ARS_2023-06 SAVED
(29, 183)
TABLE time_series_BTC_2023-06 SAVED
(30, 183)
TABLE time_series_BTC_2023-08 SAVED
(30, 183)
TABLE time_series_BTC_2023-07 SAVED
(30, 183)
TABLE time_series_BTC_2023-10 SAVED
(29, 183)
TABLE time_series_BTC_2023-09 SAVED
(29, 183)
TABLE time_series_BTC_2023-11 SAVED
(30, 183)
TABLE time_series_BTC_2023-05 SAVED
(27, 183)
TABLE time_series_BTC_2023-02 SAVED
(30, 183)
TABLE time_series_BTC_2023-03 SAVED
(30, 183)
TABLE time_series_BTC_2023-12 SAVED
(29, 183)
TABLE time_series_BTC_2023-04 SAVED
(30, 183)
TABLE time_series_ETH_2023-05 SAVED
(29, 183)
TABLE time_series_ETH_2023-11 SAVED
(30, 183)
TABLE time_series_ETH_2023-10 SAVED
(27, 183)
TABLE time_series_ETH_2023-02 SAVED
(29, 183)
TABLE time_series_ETH_2023-09 SAVED
(30, 183)
TABLE time_series_ETH_2023-08 SAVED
(30, 183)
TABLE time_series_ETH_2023-07 SAVED
(29, 183)
TABLE time_series_ETH_2023-06 SAVED
(30, 183)
TABLE time_series_ETH_2023-12 SAVED
(29, 183)
TABLE time_series_ETH_2023-04 SAVED
(30, 183)
TABLE time_series_EUR_2023-08 SAVED
(27, 183)
TABLE time_series_EUR_2023-02 SAVED
(29, 183)
TABLE time_series_EUR_2023-06 SAVED
(29, 183)
TABLE time_series_EUR_2023-11 SAVED
(30, 183)
TABLE time_series_EUR_2023-10 SAVED
(30, 183)
TABLE time_series_EUR_2023-12 SAVED
(30, 183)
TABLE time_series_EUR_2023-07 SAVED
(29, 183)
TABLE time_series_EUR_2023-09 SAVED
(29, 183)
TABLE time_series_EUR_2023-04 SAVED
(25, 183)
TABLE time_series_EUR_2024-01 SAVED
(30, 183)
TABLE time_series_EUR_2023-05 SAVED
(30, 183)
TABLE time_series_USD_2023-12 SAVED
(29, 183)
TABLE time_series_USD_2023-11 SAVED
(30, 183)
TABLE time_series_USD_2023-07 SAVED
(29, 183)
TABLE time_series_USD_2023-09 SAVED
(30, 183)
TABLE time_series_USD_2023-08 SAVED
(29, 183)
TABLE time_series_USD_2023-06 SAVED
(30, 183)
TABLE time_series_USD_2023-05 SAVED
(29, 183)
TABLE time_series_USD_2023-04 SAVED
(30, 183)
TABLE time_series_USD_2023-03 SAVED
(27, 183)
TABLE time_series_USD_2023-02 SAVED
(30, 183)
TABLE time_series_USD_2023-10 SAVED
(25, 183)
TABLE time_series_USD_2024-01 SAVED