In [13]:
import requests
import pandas as pd
from datetime import datetime, timedelta, timezone
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError
from dotenv import load_dotenv
import os
import json

load_dotenv()

True

In [14]:
database_url = os.getenv("DATABASE_URL")
engine = None

try:
    engine = create_engine('postgresql://matias92:francia92@localhost:5432/exchanges_db')
    with engine.connect():
        pass
except:
    engine = create_engine(database_url)
    
print(engine.url)

postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise

In [15]:
df_tables = None
if 'localhost' not in engine.url:
    schema = "api_fxratesapi"
    base_query = f"""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = '{schema}'
    """

    df_tables = pd.read_sql(base_query, engine)
    df_tables = df_tables[df_tables['table_name'].str.contains('time_series') & ~df_tables['table_name'].str.contains('|'.join(['USD', 'ARS', 'BTC', 'EUR', 'ETH']))].sort_values('table_name', ascending=True)

    transform_query = []
else:
    schema = "public"
    base_query = f"""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = '{schema}'
    """

    df_tables = pd.read_sql(base_query, engine)
    df_tables = df_tables[df_tables['table_name'].str.contains('time_series') & ~df_tables['table_name'].str.contains('|'.join(['USD', 'ARS', 'BTC', 'EUR', 'ETH']))].sort_values('table_name', ascending=True)

    transform_query = []

In [16]:
df_tables

             table_name
0   time_series_2023-02
1   time_series_2023-03
12  time_series_2023-04

In [17]:
for table in df_tables['table_name']:
    print("SELECT * FROM "+f'"{schema}"'+"."+f'"{table}"')
    transform_query.append("SELECT * FROM "+f'"{schema}"'+"."+f'"{table}"')
    
new_queries = [query + ' UNION ALL' for query in transform_query[:-1]]
new_queries.append(transform_query[-1])
new_queries = ','.join(new_queries).replace(",", " ")
new_queries

SELECT * FROM "api_fxratesapi"."time_series_2023-02"
SELECT * FROM "api_fxratesapi"."time_series_2023-03"
SELECT * FROM "api_fxratesapi"."time_series_2023-04"

'SELECT * FROM "api_fxratesapi"."time_series_2023-02" UNION ALL SELECT * FROM "api_fxratesapi"."time_series_2023-03" UNION ALL SELECT * FROM "api_fxratesapi"."time_series_2023-04"'

In [18]:
df_transform_data = pd.read_sql(new_queries, engine)
df_transform_data

,code,name,decimal_digits,name_plural,rounding,symbol,symbol_native,start_date,end_date,rates,period
0,AFN,Afghan Afghani,0,Afghan Afghanis,0,Af,؋,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AFN"": 1, ""ADA"":...",2023-02
1,ALL,Albanian Lek,0,Albanian lekë,0,ALL,Lek,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ALL"": 1, ""ADA"":...",2023-02
2,AMD,Armenian Dram,0,Armenian drams,0,AMD,դր.,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AMD"": 1, ""ADA"":...",2023-02
3,ANG,NL Antillean Guilder,2,NL Antillean Guilders,0,ƒ,NAƒ,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""ANG"": 1, ""ADA"":...",2023-02
4,AOA,Angolan Kwanza,2,Angolan Kwanza,0,Kz,Kz,2023-02-01T00:00:00.000Z,2023-02-28T00:00:00.000Z,"{""2023-02-27T23:59:00.000Z"": {""AOA"": 1, ""ADA"":...",2023-02
...,...,...,...,...,...,...,...,...,...,...,...
550,LYD,Libyan Dinar,3,Libyan dinars,0,LD,د.ل.‏,2023-04-01T00:00:00.000Z,2023-04-30T00:00:00.000Z,"{""2023-04-29T23:59:00.000Z"": {""LYD"": 1, ""ADA"":...",2023-04
551,MGA,Malagasy Ariary,0,Malagasy Ariaries,0,MGA,MGA,2023-04-01T00:00:00.000Z,2023-04-30T00:00:00.000Z,"{""2023-04-29T23:59:00.000Z"": {""MGA"": 1, ""ADA"":...",2023-04
552,MYR,Malaysian Ringgit,2,Malaysian ringgits,0,RM,RM,2023-04-01T00:00:00.000Z,2023-04-30T00:00:00.000Z,"{""2023-04-29T23:59:00.000Z"": {""MYR"": 1, ""ADA"":...",2023-04
553,SBD,Solomon Islands Dollar,2,Solomon Islands Dollars,0,SI$,$,2023-04-01T00:00:00.000Z,2023-04-30T00:00:00.000Z,"{""2023-04-29T23:59:00.000Z"": {""SBD"": 1, ""ADA"":...",2023-04
554,UZS,Uzbekistan Som,0,Uzbekistan som,0,UZS,UZS,2023-04-01T00:00:00.000Z,2023-04-30T00:00:00.000Z,"{""2023-04-29T23:59:00.000Z"": {""UZS"": 1, ""ADA"":...",2023-04

In [19]:
df_transform_data = df_transform_data[df_transform_data['code'].isin(['USD', 'ARS', 'BTC', 'EUR', 'ETH'])]
df_time_series_values = pd.DataFrame()
for index, row in df_transform_data.iterrows():
    base_code = row['code']
    start_date = row['start_date']
    rates = row['rates']
    if isinstance(rates, str):
        rates_dict = json.loads(rates)
        for key, value in rates_dict.items():
            if isinstance(value, dict):
                df = pd.json_normalize(value)
                df['code'] = base_code
                df['date'] = key
                df['period'] = key[:7]
                df_time_series_values = pd.concat([df_time_series_values, df], ignore_index=True)
df_time_series_values

,ARS,ADA,AED,AFN,ALL,AMD,ANG,AOA,AUD,AWG,...,XRP,YER,ZAR,ZMK,ZMW,ZWL,USD,code,date,period
0,1.000000,0.013932,0.018665,0.444623,0.551206,1.985697,0.009158,2.578815,0.007538,0.009159,...,0.013409,1.272130,0.093561,45.738740,0.100485,1.636210,0.005081,ARS,2023-02-27T23:59:00.000Z,2023-02
1,1.000000,0.013835,0.018761,0.453829,0.555404,2.004713,0.009201,2.587166,0.007587,0.009194,...,0.013435,1.278897,0.094101,45.977448,0.100696,1.644750,0.005108,ARS,2023-02-26T23:59:00.000Z,2023-02
2,1.000000,0.014129,0.018817,0.455169,0.557044,2.010635,0.009228,2.594807,0.007617,0.009221,...,0.013449,1.282675,0.094382,46.113259,0.100993,1.649608,0.005123,ARS,2023-02-25T23:59:00.000Z,2023-02
3,1.000000,0.014004,0.018834,0.456371,0.554183,2.005579,0.009245,2.597214,0.007599,0.009230,...,0.013504,1.283864,0.094371,46.156021,0.101181,1.651138,0.005128,ARS,2023-02-24T23:59:00.000Z,2023-02
4,1.000000,0.013370,0.018806,0.453112,0.555915,2.004191,0.009225,2.579569,0.007518,0.009216,...,0.013153,1.281897,0.093465,46.085276,0.100713,1.648607,0.005120,ARS,2023-02-23T23:59:00.000Z,2023-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,211.221233,2.547448,3.672903,86.500056,103.490075,390.015748,1.803449,507.000493,1.488794,1.800001,...,1.969756,250.350188,18.082053,9001.200000,19.941678,321.999592,NaN,USD,2023-04-05T23:59:00.000Z,2023-04
426,210.785335,2.567503,3.673103,87.000059,103.275098,388.558125,1.804745,506.500283,1.479713,1.802502,...,1.985562,250.300200,17.916239,9001.200000,20.401148,321.999592,NaN,USD,2023-04-04T23:59:00.000Z,2023-04
427,210.316564,2.585650,3.672703,86.500082,104.375067,389.629483,1.803023,507.500368,1.473204,1.800001,...,2.014711,250.350234,17.800197,9001.200000,20.684756,321.999592,NaN,USD,2023-04-03T23:59:00.000Z,2023-04
428,209.706083,2.616148,3.672650,86.756208,104.300087,389.122525,1.798238,507.500322,1.499828,1.800001,...,1.918977,250.375154,17.818673,9001.200000,21.178949,321.999592,NaN,USD,2023-04-02T23:59:00.000Z,2023-04
429,208.389667,2.544895,3.672703,86.756214,104.300057,389.122439,1.798239,507.500499,1.495490,1.800002,...,1.955614,250.375158,17.794927,9001.200000,21.178949,321.999592,NaN,USD,2023-04-01T23:59:00.000Z,2023-04

In [20]:
print(df_time_series_values['code'].unique())
print(df_time_series_values['period'].unique())

['ARS' 'EUR' 'BTC' 'ETH' 'USD']
['2023-02' '2023-03' '2023-04']

In [21]:
# df_time_series_values[(df_time_series_values['code'] == 'USD') & (df_time_series_values['period'] == '2023-12')]

In [22]:
df_time_series_values_for_outputs = df_time_series_values[['code', 'period']].drop_duplicates().sort_values('code')
for index, row in df_time_series_values_for_outputs.iterrows():
    code = row['code']
    period = row['period']
    df_output = df_time_series_values[(df_time_series_values['code'] == code) & (df_time_series_values['period'] == period)]
    print(df_output.shape)
    if 'localhost' not in engine.url:
        df_output.to_sql(f'time_series_{code}_{period}', engine, if_exists='replace', schema='api_fxratesapi', index=False)
        print(f'TABLE time_series_{code}_{period} SAVED IN {engine.url}')
    else:
        df_output.to_sql(f'time_series_{code}_{period}', engine, if_exists='replace', schema='public', index=False)
        print(f'TABLE time_series_{code}_{period} SAVED IN {engine.url}')

(27, 180)
TABLE time_series_ARS_2023-02 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(30, 180)
TABLE time_series_ARS_2023-03 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(29, 180)
TABLE time_series_ARS_2023-04 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(27, 180)
TABLE time_series_BTC_2023-02 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(30, 180)
TABLE time_series_BTC_2023-03 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(29, 180)
TABLE time_series_BTC_2023-04 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(27, 180)
TABLE time_series_ETH_2023-02 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(30, 180)
TABLE time_series_ETH_2023-03 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(29, 180)
TABLE time_series_ETH_2023-04 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(27, 180)
TABLE time_series_EUR_2023-02 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(30, 180)
TABLE time_series_EUR_2023-03 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(29, 180)
TABLE time_series_EUR_2023-04 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(27, 180)
TABLE time_series_USD_2023-02 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(30, 180)
TABLE time_series_USD_2023-03 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise
(29, 180)
TABLE time_series_USD_2023-04 SAVED IN postgresql://matiasmazparrotefeliu:***@postgresql-matiasmazparrotefeliu.alwaysdata.net:5432/matiasmazparrotefeliu_etl_data_practise